<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shopping List</title>
    <link rel="stylesheet" href="../basic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="myShoppingList.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body ng-app="myShoppingList" ng-controller="myCtrl">
    <div class="container">  
        <ul>
            <li ng-repeat="x in produkte">
                {{x}}
                <i class="fas fa-times" ng-click="removeFunction($index)"></i>
            </li>
        </ul>
        <input type="text" name="add" ng-model="add">
        <button ng-click="addFunction()">Hinzufuegen</button>
        <p>{{errorText}}</p>
    </div>
    <script src="myShoppingList.js"></script>
</body>
</html>