li {
    list-style-type: none;
    font-size: 1.2em;
    padding: 1em;
    width: 100%;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.fa-times {
    font-size: .8em;
    float: right;
    cursor: pointer;
}
input[type="text"] {
    margin-top: .5em;
    width: 60%;
    height: 30px;
    border: none;
    border: 1px solid grey;
    padding: 0.25em 0.3em;
}
button {
    margin-top: .5em;
    background-color: green;
    color: white;
    padding: 0.5em;
    border: none;
    width: auto;
    float: right;
}
.container {
    width: 300px;
    background-color: rgb(236, 236, 236);
    padding: 1em;
}